.buscador {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  gap: 4px;
  position: relative;
}

.input-buscador {
  padding: 10px 16px;
  border: 2px solid #2c3e50;
  background-color: #1b2735;
  border-radius: 25px;
  font-size: 16px;
  outline: none;
  color: #e0e0e0;
}

.input-buscador:focus {
  border-color: #4a6fa5;
  box-shadow: 0 0 6px #4a6fa5;
}

.input-buscador::placeholder {
  color: #8fa1b2;
  font-style: italic;
}

.btn-buscador, .btn-prev, .btn-next {
  max-width: 90px;
  background-color: #264a75;
  color: #dfdfdfec;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 25px;
  cursor: pointer;
  margin-left: 12px;
  transition: transform .13s ease-in-out;
}

.btn-buscador:hover, .btn-prev:hover, .btn-next:hover {
  background-color: #255283;
  color: rgb(235, 235, 235);
  box-shadow: 0 0 7px rgba(80, 120, 180, 0.4);
}

.btn-buscador:active {
  transform: scale(0.95);
}

.results {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #285c9bef;
  border-radius: 12px;
  box-shadow: 0 0px 16px rgba(255, 255, 255, 0.1);
  overflow: hidden;
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  z-index: 10;
}

.results li {
  padding: 1rem;
  border-bottom: 1px solid #ffffff48;
  color: rgb(211, 211, 211);
  cursor: pointer;
  transition: background 0.2s;
  font-weight: 500;
}

.results li:hover {
  background: #326db6ef;
  font-weight: 700;
}

.results li:last-child {
  border-bottom: none;
}

.buscador-container {
  width: 100%;
  display: flex;
}

.btn-buscador, .input-buscador {
  flex: 1;
}


@media screen and (max-width: 400px) {
  .input-buscador {
    min-width: auto;
  }
}

