:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .84)), url('../background.jpg');
  background-size: cover;
  background-position: center left;
}

#root {
  min-width: 380px;
  width: 80%;
  max-width: 1700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  margin: 0 auto;
  padding: 6px 15px 15px 15px;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: linear-gradient(90deg, #86cbf3, #82cff3);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 4px 6px 13px rgba(0, 0, 0, .5);
  margin-bottom: 10px;
  user-select: none;
}

header {
  width: 100%;
}

.charge {
  transform: translateY(-460px);
  font-size: 3em;
  font-style: italic;
  font-weight: bold;
}